# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
venv/
*.env
.env

# Logs
logs/*.log

# IDE / OS specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.pytest_cache/
coverage.xml
htmlcov/